*{
	margin: 0;
	padding: 0;
}
.wrap{
	position: relative;
	margin: 0;
	padding: 55px 50px;
	width: 100%;
	height: 690px;
	background-color: #262625;
}
.x,
.y{
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ccc;
	font-size: 30px;
}

.y{
	left: 10px;
	padding: 159px 0 55px;
	width: 40px;
	height: 100%;
}
.y ul{
	width: 40px;
}
.x{
	bottom: 5px;
	padding-left: 50px;
	height: 40px;
	width: 100%;
}
.x ul{
	height: 40px;
}
.x li,
.y li{
	list-style: none;
	text-align: center;
}
.x li{
	float: left;
	display: inline-block;
	margin-left: 256px;
	line-height: 40px;
}
.y li{
	margin-bottom: 114px;
	text-align: left;
}
.box{
	position: relative;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	/*background-color: blue;*/
}
.box:before{
	position: absolute;
	top: -8px;
	left: -8px;
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ccc;
}
.box:after{
	bottom: -8px;
	right: -8px;
	position: absolute;
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ccc;
}
.backgroundDown,
.backgroundUp,
.starOverlayDown,
.starOverlayUp{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
}
.backgroundUp{
	z-index: 0;
	background-image: url(bg-up.png);
}
.backgroundDown{
	z-index: 9;
	background-image: url(bg-down.png);
}
.starOverlayDown{
	z-index: 19;	
}
.starOverlayUp{
	z-index: 29;	
}
.star{
	position: absolute;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-position: center;
}
.starOverlayDown .star{
	opacity: .2;
}
.starOverlayUp .star{
	opacity: .8;
}
.star1{
	top: 469px;
	left: 113px;
	background-image: url(star1.png);
}
.star2{
	top: 252px;
	left: 258px;
	background-image: url(star2.png);
}
.star3{
	top: 303px;
	left: 477px;
	background-image: url(star3.png);
}
.star4{
	top: 154px;
	left: 644px;
	background-image: url(star4.png);
}
.star5{
	top: 288px;
	left: 820px;
	background-image: url(star5.png);
}
.star6{
	top: 353px;
	left: 1027px;
	background-image: url(star6.png);
}

.starDown{
	margin-top: 5px;
	margin-left: 8px;
}




