body {
    background-color: #33ffe0;
    color: pink;
    font-size: 100px;
    line-height:250px;
    letter-spacing: 30px;
    font-family: futura, Helvetica, Arial, sans-serif;
}

.ontop {
    font-size:20px;
    line-height:30px;
    position: fixed;
    top: 80;
    right: 80;
    margin: 0;
    padding: 60px;
    border: 5px solid yellow;
    width: 200px;
    height: 70px;
    overflow: hidden;
}

a {
    text-decoration: underline;
    color: blue;
    background-color: yellow;
}

p {
    color: yellow;
    background-color: blue;
}
.genius {
    background-color: red;
    color: green;
    width: 200px;
    overflow: hidden;
    text-decoration: underline;
}
.speical {
    color: pink;
    background-color: yellow;
}

#myh1 {
    font-family: Helvetica;
}