body.{
    background-color: white;
}

.box {
    display: block;
	width: 864px;
	height: 864px;
	background-image:url("../image/sp1.gif");
	background-repeat: no-repeat;
	overflow:hidden;
	text-indent:100%;
	white-space: nowrap;
    position: absolute;
	top: 0px;
	right: 0px;
}
	

.box:hover {
	background-position: -864px 0px;
}